<h2>Welcome, <%= current_user.first_name %>!</h2>
<p>You have, <%= @trivia_questions_count %>, unanswered trivia questions to answer.</p>

<div class="row">
    <div class="col-sm-4">
        <h3>I've got Answers!</h3>
        <ul class="list-group">
            <li class="list-group-item">
                <%= link_to "Answer Trivia Questions", trivia_index_path %>
            </li>
        </ul>
        <% if @trivia_questions_count > 0  %>
            <ul class="list-group">
            <% @trivia_questions.each do |t| %>
                <li class="list-group-item">
                    <h4><%= t.question_text.truncate(60, separator: ' ') %></h4>
                    <%= link_to(controller: "trivia", action: "answer", id: t.id ) do %>
                        <span class="glyphicon glyphicon-edit"></span> Answer This
                    <% end %>
                </li>
            <% end %>
            <% if @trivia_questions_count > 3 %>
                <li class="list-group-item">
                    <%= link_to "...More!", trivia_index_path %>
                </li>
            <% end %>
            </ul>
            
        <% end %>
    </div>
    <div class="col-sm-4">
        <h3>I have Questions!?</h3>
        <ul class="list-group">
            <li class="list-group-item">
                <%= link_to "Ask Question", new_question_path %>
            </li>
        </ul>
        <% if @my_questions_count > 0  %>
            <ul class="list-group">
            <% @my_questions.each do |q| %>
                <li class="list-group-item">
                    <h4><%= q.question_text %></h4>
                    <%= link_to(controller: "questions", action: "edit", id: q.id ) do %>
                        <span class="glyphicon glyphicon-edit"></span> Edit
                    <% end %>
                </li>
            <% end %>
            </ul>
        <% end %>

    </div>
    <div class="col-sm-4">
        <h3>View Top Scores</h3>
    </div>
  </div>    
  
</div>
